@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');    
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family: "Montserrat", serif;
    text-decoration: none;
}
header
{
    display: flex;
    justify-content: space-between;
    margin: 2rem 5rem;
}
#logo
{
    height: 150px;
}
#logo:hover
{
    transition: 0.5s ease;
    transform: scale(1.1);
}
.navbar
{
    margin-top: 60px;
    font-size: 20px;
}
#active
{
    color: brown;
    border-bottom: 2px solid brown;
}
.navbar a
{
    margin-right: 1.5rem;
    border-bottom: 2px solid transparent;
}
.navbar a:hover
{
    transition: 0.5s ease;
    color: brown;
    border-bottom: 2px solid brown;
}
.title
{
    margin-left: 6rem;
}
.title h1
{
    font-size: 40px;
    font-weight: 800;
}
.title h3
{
    margin-top: 20px;
    font-size: 25px;

}
.title h3 span
{
    color: brown;
}
.description
{
    margin-left: 6rem;
    width: 475px;
    margin-top: 2rem;
    font-weight: 600;
}
.btn
{
    display: flex;
    justify-content: center;
    margin-left: 6rem;
    margin-top: 2.5rem;
    width: 220px;
    text-align: center;
    border: 3px solid brown;
    border-radius: 20px;
    width: 240px;
    height: 50px;
}
.btn:hover
{
    transition: 0.5s ease;
    width: 240px;
    height: 50px;
    box-shadow: 0px 0px 10px brown;
}
.btn a
{
    margin-top: 0.2rem;
    font-size: 30px;
    font-weight: 600;
}
.btn i
{
    margin-top: 0.6rem;
    font-size: 28px;
    margin-right: 1rem;
}
.photo
{
    margin-left: 45rem;
    margin-top: -28rem;
}
.photo img
{
    height: 550px;
    background: none;
}
.photo img:hover
{
    transform: scale(1.1);
    transition: 0.5s ease;
}